.home {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}
.post {
  gap: 0;
  margin: 0;
  padding: 0;
  max-width: 100%;
  width: 100%;
}
.post__cards {
  display: flex;
  flex-direction: column;
  gap: 0;
  margin: 0;
  padding: 0;
}
.post__comments {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 0;
  margin: 0;
  padding: 0;
}

/* comment replies */
.comment__replies {
  width: 90%;
  background-color: red;
}
