/* * MAIN comment CARD */
.comment__thread {
  display: flex;
  flex-direction: column;
}

.comment__card {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 1.45rem;
  border-left: 1px solid var(--border);
  margin: 0;
  padding: 1.25rem;
  margin-top: -1px;
  height: fit-content;
}

.comment__replies {
  display: flex;
  flex-direction: column;
  margin-left: 1.45rem;
}

.comment__content__wrapper {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}
/* comment MEDIA */
.comment__header {
  display: flex;
  height: 1.25rem;

  img {
    margin-right: 10px;
  }
  .comment__header__text__wrapper {
    display: flex;
    height: 10px;
    align-items: center;
    gap: 0.25rem;
    margin: 0;
    margin-top: 0.25rem;

    h3 {
      font-size: 0.75rem;
      margin: 0;
    }
    font-size: 0.75rem;
  }
}

.comment__media__img {
  width: fit-content;
  max-height: 510px;
  object-fit: contain;
  object-position: left;
  border-radius: 1.5rem;
  border: 1px solid var(--border);
}

/* comment actions */
.comment__actions {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 0.75rem;

  button {
    background-color: transparent;
    border: 0;
  }
  .comments,
  .likes,
  .bookmarks {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      cursor: pointer;
    }
  }

  .comments:hover,
  .likes:hover,
  .bookmarks:hover {
    color: var(--accent);
  }

  .comments:hover img,
  .likes:hover img,
  .bookmarks:hover img {
    opacity: 0.8;
  }
  .bookmarks {
    margin-left: auto;
  }
}
