.group__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}
.posts {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
}
.no__posts__info {
  padding: 1rem;
  color: rgb(136, 135, 135);
  font-weight: 300;
}
