.post__modal {
  position: sticky;
  top: -4rem;
  left: 33vw;
  max-height: 400px;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.25rem;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgb(67, 67, 67);
  border-inline: 1px solid rgb(67, 67, 67);

  transition: top 0.5s ease-in-out;
}
.post__modal:hover {
  top: 0;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.modal__content {
  margin-left: 60px;
  font-size: 0.9rem;
}
.replying {
  font-size: 0.8rem;
  font-weight: 100;
  color: #c5c5c5;

  margin: 0rem 0 2rem 60px;
  a {
    margin-left: 5px;
    font-style: italic;
  }
}

.close__btn {
  background: none;
  border: none;
  color: #ffffff;
  font-size: 1.2rem;
  cursor: pointer;
  align-self: start;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
}
.modal__wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.input__row {
  display: flex;
  align-items: flex-start;
  gap: 12px;
  flex: 1;
  width: 100%;
}

.form textarea {
  flex: 1;
  background: transparent;
  field-sizing: content;
  min-height: 2lh;
  max-height: 6lh;
  resize: none;
  width: 100%;
  border: none;
  color: #e7e9ea;
  font-size: 1.25rem; /* Clean, prominent font size */
  font-family: system-ui, sans-serif;
  resize: none;
  outline: none;
  padding-top: 4px;
}

.form textarea::placeholder {
  color: #71767b;
}

/* Footer layout anchoring your icons and button at the bottom */
.form input[type="submit"] {
  background-color: #e7e9ea; /* High contrast post button */
  color: #0f1419;
  padding: 0.5rem 1.25rem;
  width: fit-content;
  margin-left: auto;
  border-radius: 9999px;
  border: none;
  font-weight: bold;
  font-size: 0.95rem;

  cursor: pointer;
  transition: opacity 0.2s ease;
}

.form input[type="submit"]:hover {
  opacity: 0.9;
}
